PORT=8000
CLIENT_URL=http://localhost:5173
MONGODB_URL=
JWT_SECRET=
EMAIL=
EMAIL_PASS=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
GEMINI_API_KEY=
APPROVAL_TOKEN_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=
